extends layout

block content
  h1= results.category.name
  h4= results.category.description
  ul 
  - results.item.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
  each food in results.item
    li 
      a(href=food.url) #{food.name}

  a(href='/fridge/item/create')
    button Create Item 
  p
    a(href=results.category.url + '/delete') Delete category
  